@font-face {
  font-family: "Clear Sans";
  src: url("../assets/fonts/ClearSans-Regular-webfont.eot");
  src: url("../assets/fonts/ClearSans-Regular-webfont.eot?#iefix") format("embedded-opentype"),
       url("../assets/fonts/ClearSans-Regular-webfont.svg#clear_sansregular") format("svg"),
       url("../assets/fonts/ClearSans-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Clear Sans";
  src: url("../assets/fonts/ClearSans-Bold-webfont.eot");
  src: url("../assets/fonts/ClearSans-Bold-webfont.eot?#iefix") format("embedded-opentype"),
       url("../assets/fonts/ClearSans-Bold-webfont.svg#clear_sansbold") format("svg"),
       url("../assets/fonts/ClearSans-Bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  background-color: #57407c;
  flex-direction: column;
  align-items: center;
  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
  color: rgba(255, 255, 255, 0.5);
  font-size: 22px;
  line-height: 30px;
}

a {
  color: rgba(255, 255, 255, 1);
  font-weight: bold;
}

strong {
  color: rgba(255, 255, 255, 1);
}

.container {
  max-width: 500px;
  min-width: 500px;
}

.title {
  margin: 30px 0 10px;
}

.board {
  width: 100%;
  padding: 15px 0 30px 15px;
  box-sizing: border-box;
  position: relative;
}

.board .cell,
.tile {
  user-select: none;
  cursor: default;
}

.details-box {
  display: flex;
  align-items: center;
  padding: 15px;
  justify-content: space-between;
}

.resetButton {
  font-family: inherit;
  font-size: inherit;
  background-color: #3d2963;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  transition: color 0.3s ease, background-color 0.3s ease;

  &:hover {
    background-color: #d3386a;
    color: rgba(255, 255, 255, 1);
  }
}

.score-box {
  background-color: #3d2963;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  line-height: 1;
  font-weight: bold;
  text-align: right;
  color: #fff;
  min-width: 50px;
  width: 70px;
  padding: 10px 15px;
  border-radius: 8px;
}

.score-header {
  font-size: 50%;
  line-height: 1;
  text-transform: uppercase;
  font-weight: normal;
}

.cell,
.tile {
  width: 106px;
  height: 106px;
  margin: 0 15px 15px 0;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  border-radius: 8px;
  background-color: #3d2963;
}

.tile0 {
  background-color: #dcb;
}

.tile2 {
  background-color: #eee;
  background-image: url(../assets/images/2.gif);
}

.tile4 {
  background-color: #eec;
  background-image: url(../assets/images/4.gif);
}

.tile8 {
  color: #ffe;
  background-image: url(../assets/images/8.gif);
}

.tile16 {
  color: #ffe;
  background-image: url(../assets/images/16.gif);
}

.tile32 {
  color: #ffe;
  background-image: url(../assets/images/32.gif);
}

.tile64 {
  color: #ffe;
  background-image: url(../assets/images/64.gif);
}

.tile128 {
  color: #ffe;
  background-image: url(../assets/images/128.gif);
}

.tile256 {
  color: #ffe;
  background-image: url(../assets/images/256.gif);
  font-size: 45px;
}

.tile512 {
  color: #ffe;
  background-image: url(../assets/images/512.gif);
  font-size: 45px;
}

.tile1024 {
  color: #fff;
  background-image: url(../assets/images/1024.gif);
  font-size: 35px;
}

.tile2048 {
  position: absolute;
  background-size: contain;
  inset: 0;
  width: 100%;
  height: 500px;
  color: #fff;
  background-image: url(../assets/images/2048.gif);
  font-size: 35px;
}

.try-again {
  z-index: 10;
  height: 106px;
  width: 106px;
  background-image: url(../assets/images/try-again.gif);
}

.tile {
  position: absolute;
}

.tile.merged {
  display: none;
}

.tile.merged.isMoving {
  display: inline;
}

.tile.new,
.overlay {
  animation-duration: 0.2s;
  animation-name: newTile;
  animation-fill-mode: forwards;
  animation-delay: 0.15s;
  transform: scale(0);
}

@keyframes newTile {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.overlay {
  position: absolute;
  top: 0px;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  left: 0px;
  right: 0px;
  border-radius: 8px;
}

.tryAgain {
  background-color: #876;
  color: #fff;
  height: 40px;
  width: 200px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  border: 2px solid white;
}

.gameOver {
  background-size: contain;
  background-image: url(../assets/images/game-over.gif);
  position: absolute;
  inset: 0;
  width: 100%;
  height: 500px;
  z-index: 100;
  text-align: center;
}

.overlay .message {
  color: #666;
}

.footer {
  padding-bottom: 30px;
}

.game-explanation {
  display: flex;
  padding: 0 15px 10px;
}

.game-explanation img {
  height: 90px;
}

.game-explanation-text {
  margin-left: 80px;
}

.game-credits {
  padding: 10px 15px;
  font-size: 15px;
  line-height: 1.5;
}

.game-credits p {
  margin-bottom: 20px;
}
